# Mac OS X Finder
.DS_Store

# Private Keys
*.pem

# Xcode settings/user settings/legacy data
xcuserdata/
project.xcworkspace/
DerivedData/
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# Cocoapods
Pods/

# Carthage
Carthage/

# build products
build/
*.[oa]

# repositories
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
